.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-left: 5%;
  height: 100vh;
}
.left_flex {
  width: 55vw;
  padding-right: 20%;
  padding-top: 5%;
  gap: 4rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.right_flex {
  width: 45vw;
  background-color: #181926;
  display: flex;
}
.heading {
  font-weight: 700;
  font-size: 2em;
  line-height: 44px;
  color: #000000;
}
.heading_1 {
  color: rgba(49, 107, 254, 1);
}
.para {
  font-weight: 500;
  font-size: 1.2em;
  line-height: 26px;
}
.buy_btn {
  display: flex;
  background: #316bfe;
  border: 2px solid #181926;
  width: 158px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  height: 78px;
  justify-content: center;
  align-items: center;
}
.img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  left: -20%;
}
.img {
  width: 40vw;
  height: auto;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    height: auto;
    gap: 4rem;
  }
  .left_flex {
    padding: 5%;
    padding-bottom: 30%;
    width: 100vw;
    align-items: center;
    text-align: center;
  }
  .right_flex {
    width: 100vw;
    display: flex;
    padding: 5%;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }
  .img_wrapper {
    display: flex;
    justify-content: center;
    left: unset;
    align-items: center;
    position: relative;
    bottom: 7em;
  }
  .img {
    width: auto;
    height: 40vh;
  }
}
@media (max-width: 500px) {

  .img {
    width: 80vw;
    height: auto;
  }
}